* {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.nav-title {
    padding: 0 40px;
}

.App-header {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}